@font-face {
  font-family: EcoCare-Font01;
  src: url(/Fonts/POLYSANS-MEDIAN.OTF);
}

@font-face {
  font-family: EcoCare-Font02;
  src: url(/Fonts/SUISSEWORKS-REGULARITALIC.OTF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'EcoCare-Font01';
  text-decoration: none;
  color: #0B1B5C;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  align-content: center;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

.wrapper {
  max-width: 900px;
  text-align: center;
  padding: 0 50px;
  z-index: 1;
  width: 900px;
}

.wrapper2 {
  max-width: 1000px;
  text-align: center;
  padding: 0 50px;
  z-index: 1;
  width: 1000px;
}

.wrapper .title {
  font-size: 35px;
  color: #0B1B5C;
  width: 100%;
}

.wrapper .subtitle {
  padding-top: 50px;
  font-size: 25px;
  color: #0B1B5C;
  width: 100%;
}

.wrapper .highlight {
  color: #3128FF;
  font-family: EcoCare-Font02;
}

.wrapper .logo {
  padding: 10px 50px 10px 50px;
  width: 500px;
}

.wrapper2 form {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.wrapper2 .email-field .title {
  font-size: 22px;
  display: none;
}

.wrapper2 .email-field span {
  font-size: 12px;
}

.wrapper2 form .email-field {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 25px;
  padding: 40px;
  border-color: #0B1B5C;
}

form .email-field input {
  width: 100%;
  padding: 15px 200px 15px 15px;
  margin: 0 5px;
  border-radius: 100px;
  background: #FFFFFF;
  border: 1px solid #DBEDFB;
  border-radius: 100px;
}

.wrapper2 button {
  background: #FC5E4D;
  border-radius: 100px;
  width: 700px;
  border-style: none;
  padding: 10px 10px;
  font-family: EcoCare-Font01;
  color: white;
  margin: 0 5px;
  transition: 0.5s;
}

.wrapper2 button:hover {
  background: #FC5E4D;
}

.wrapper2 button:focus {
  background: #26EA8F;
  padding: 10px 50px;
}

.wrapper2 button.clicked {
  background: #FC5E4D;
  padding: 10px 10px;
  pointer-events: auto;
  opacity: 1;
}

input[type="email"] {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  font-family: EcoCare-Font01;
}

.show {
  display: none;
  text-decoration: none;
  color: #0B1B5C;
}

.hide:target + .show {
  display: inline;
  text-decoration: none;
}

.box {
  align-items: center;
  padding-top: 20px;
  text-align: center;
  width: 1000px;
}

.error {
  color: #0B1B5C;
  margin-top: 5px;
  font-size: 15px;
  text-align: left;
  padding: 20px 20px 20px 20px;
  border-radius: 25px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0B1B5C;
  height: auto;
  width: 100vw;
  padding: 10px;
  font-family: EcoCare-Font01;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  padding: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  height: 100px;
  text-decoration: none;
}

@media print {
  .hide,
  .show {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EcoCare-Font01';
    text-decoration: none;
  }

  html,
  body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
  }

  .wrapper {
    max-width: 400px;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin-top: -100px;
    z-index: 1;
    width: 400px;
  }

  .wrapper2 {
    max-width: 400px;
    text-align: center;
    padding: 10px;
    z-index: 1;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .wrapper .title {
    font-size: 35px;
    color: #0B1B5C;
    width: 100%;
  }

  .wrapper .subtitle {
    padding-top: 10px;
    font-size: 15px;
    color: #0B1B5C;
    width: 100%;
  }

  .wrapper .highlight {
    color: #3128FF;
    font-family: EcoCare-Font02;
  }

  .wrapper .logo {
    padding: 10px 0px 10px 0px;
    width: 300px;
    padding-bottom: 50px;
  }

  .wrapper2 form {
    margin: 0px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .wrapper2 .email-field .title {
    font-size: 22px;
    padding: 20px;
  }

  .wrapper2 .email-field span {
    font-size: 12px;
  }

  .wrapper2 form .email-field {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 40px;
  }

  form .email-field input {
    width: 100%;
    padding: 20px;
    margin: 20px;
    border-radius: 100px;
    background: #FFFFFF;
    border: 1px solid #DBEDFB;
    border-radius: 100px;
  }

  .wrapper2 button {
    background: #FC5E4D;
    border-radius: 100px;
    width: 300px;
    border-style: none;
    padding: 10px 10px;
    font-family: EcoCare-Font01;
    color: white;
    margin: 0px;
  }

  .wrapper2 button:hover {
    background: #ff988d;
    border-radius: 100px;
    border-style: none;
    padding: 10px 50px;
    font-family: EcoCare-Font01;
    color: white;
    margin: 0 5px;
    transition: 0.5s;
  }

  .wrapper2 button:focus {
    background: #26EA8F;
    border-radius: 100px;
    border-style: none;
    padding: 10px 50px;
    font-family: EcoCare-Font01;
    color: white;
    margin: 0 5px;
    transition: 0.5s;
  }

  .wrapper2 button.clicked {
    background: #FC5E4D;
    padding: 10px 10px;
  }

  .wrapper2 button.clicked:hover {
    background: #ff988d;
  }

  .wrapper2 button.clicked:focus {
    background: #26EA8F;
    padding: 10px 50px;
  }

  input {
    height: 2em;
    width: 2em;
    vertical-align: middle;
    color: #0B1B5C;
    text-decoration: none;
  }

  .show {
    display: none;
    text-decoration: none;
    color: #0B1B5C;
  }

  .hide:target + .show {
    display: inline;
    text-decoration: none;
  }

  .box {
    align-items: center;
    padding-top: 100px;
    text-align: center;
    width: 355px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
}
